.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 101, 101);
  padding: 10px 50px;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar .logo img {
  height: 40px;
  width: auto;
}

.navbar .items {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 100px;
}

.navbar .items a {
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  color: white;
}

.navbar .items a:hover {
  color: #000000;
}

.navbar .search {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
  transition: all 0.3s;
}
